#root {
  text-align: center;
  color: black;
}

body{
  background-color: black;
}

.Card{
  width: 200px;
  height: 333px;
  font-size: 6px;
  padding: 0px 20px 20px 20px;
  background-color: white;
  border-radius: 10px;
  overflow: scroll;
  margin: 5px;
  margin: 40px;
}
.card--image{
  width: 200px;
}

.card--button{
  width: 120px;
  font-size: 10px;
  background-color: rgb(119, 196, 222);
  color: white;
}

.card--button--link{
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}

.card--button:hover{
  background-color: rgb(3, 131, 174);
  border: 10px black;
}

.card--container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: lightblue;
  justify-content:stretch;
  padding-left: 60px;
}

.star{
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
}

.Card > h1{
  height: 30px;
  padding-bottom: 4px;
}

.black--owned--image{
  height: 80px;
}

.header{
  text-align: center;
  display: flex;
  background-color: rgb(45, 45, 208);
  justify-content: center;
  color: lightblue;
  align-items: center;
}

.Card:hover{
  box-shadow: 0px 0px 15px rgb(45, 45, 208);
}

footer{
  background-color: white;
  color: black;
  font-size: 30px;
}